## **Activity-1**

In [3]:
#1. Abs():The abs() function returns the absolute value of the given number. 
#If the number is a complex number, abs() returns its magnitude.

int_number = -20
print("int: ",abs(int_number))

flt_number = -30.00
print("float: ",abs(flt_number))

int:  20
float:  30.0

In [11]:
#2. Len():The len() function returns the number of items (length) in an object.

brand_list = ["apple", "sony", "realme", "oneplus"]
print("Brand Tupple: ", brand_list)
print("Brand List: ", len(brand_list))

print("***********************************")

brand_tupple = ("apple", "sony", "realme", "oneplus", "Matrola")
print("Brand Tupple: ", (brand_tupple))
print("Brand Tupple: ", len(brand_tupple))

Brand Tupple:  ['apple', 'sony', 'realme', 'oneplus']
Brand List:  4
***********************************
Brand Tupple:  ('apple', 'sony', 'realme', 'oneplus', 'Matrola')
Brand Tupple:  5

In [14]:
#3. Min():The min() function returns the smallest item in an iterable. 
#It can also be used to find the smallest item between two or more parameters.

number_list = [1,5,7,3,2,7]
print("Minimum number in the list: ",min(number_list))

Minimum number in the list:  1

In [15]:
#4. Round():Python round() function float point number from the decimal value to
#the closest multiple of 10. The int value to the closest multiple of 10 to the 
#power minus ndigits, where ndigits is the precision after the decimal point. 
#If two multiples are equally close, rounding is done toward the even choice.

print(round(23.5))
print(round(26.5))
print(round(93.5))
print(round(13.5))

24
26
94
14

In [18]:
#Isalnum():The isalnum() method returns True if all characters in the string are
#alphanumeric (either alphabets or numbers). If not, it returns False.

string = "Error101" #True
print(string.isalnum())
string2 = "Blue eyes 143"  #False #this string contain space
print(string2.isalnum())

True
False

# **Activity-2**

In [26]:
 #1: Using For loop

random_list = [1,4,5,"apple",6,"Blue"]
list_count = len(random_list)
for i in range(list_count):
  print("obj",i+1,":",random_list[i])

obj 1 : 1
obj 2 : 4
obj 3 : 5
obj 4 : apple
obj 5 : 6
obj 6 : Blue

In [35]:
#Method #2: For loop and range()

item_list = [1,2,5,6,7,9,7]
item_count = len(item_list)

for i in range(item_count):
  print(item_list[i])

1
2
5
6
7
9
7

In [34]:
#Method #3: Using while loop

item_list1 = [1,2,5,6,7,9]
length = len(item_list1)
i = 0
while i<length:
  print(item_list1[i])
  i+=1

1
2
5
6
7
9

In [37]:
#Method #4: Using list comprehension (Possibly the most concrete way)

item_list2 = [1,2,5,6,7,9,1]
[print(i) for i in item_list2]

1
2
5
6
7
9
1

[None, None, None, None, None, None, None]

# **DICTIONARY**

In [40]:
#Example 1: Access key using the build .keys()

state_capital = {"Gujarat" : "Gandhinagar","Maharashtra":"Mumbai", "Rajasthan" 
                 :"Jaipur","Bihar" : "Patna" }

print(state_capital.keys())

dict_keys(['Gujarat', 'Maharashtra', 'Rajasthan', 'Bihar'])

In [43]:
#Example 2: Access key without using a key()
state_capital = {"Gujarat" : "Gandhinagar","Maharashtra":"Mumbai", "Rajasthan" 
                 :"Jaipur","Bihar" : "Patna" }
for state in state_capital:
  print(state)

Gujarat
Maharashtra
Rajasthan
Bihar

In [45]:
#Example 3: Iterate through all values using .values()
state_capital = {"Gujarat" : "Gandhinagar","Maharashtra":"Mumbai", "Rajasthan" 
                 :"Jaipur","Bihar" : "Patna" }
print(state_capital.values())

dict_values(['Gandhinagar', 'Mumbai', 'Jaipur', 'Patna'])

In [54]:
#Example 4: Iterate through all key, and value pairs using items()
stateAndCapital = {"Gujarat" : "Gandhinagar","Maharashtra":"Mumbai", "Rajasthan" 
                 :"Jaipur","Bihar" : "Patna" }
for i in stateAndCapital:
  print(i ,":", stateAndCapital[i])

Gujarat : Gandhinagar
Maharashtra : Mumbai
Rajasthan : Jaipur
Bihar : Patna

In [52]:
#Example 5: Access both key and value without using items()
stateAndCapital = {"Gujarat" : "Gandhinagar","Maharashtra":"Mumbai", "Rajasthan" 
                 :"Jaipur","Bihar" : "Patna" }
for i in stateAndCapital:
  print( i , "->", stateAndCapital[i])

Gujarat -> Gandhinagar
Maharashtra -> Mumbai
Rajasthan -> Jaipur
Bihar -> Patna

In [50]:
#Example 6: Print items in Key-Value in pair
stateAndCapital = {"Gujarat" : "Gandhinagar","Maharashtra":"Mumbai", "Rajasthan" 
                 :"Jaipur","Bihar" : "Patna" }

print(stateAndCapital.items())

dict_items([('Gujarat', 'Gandhinagar'), ('Maharashtra', 'Mumbai'), ('Rajasthan', 'Jaipur'), ('Bihar', 'Patna')])

### **Activity-3**

In [56]:
#A. Count the number of alphabets in the given string.
#Method #1 : Using isalpha() + len()

test = "asdas 32323 afdasf 565 fdg 56"

print(test.isalpha())
print("string length: ",len(test))

False
string length:  29

In [11]:
#B. To extract characters in the given, range from the given string.
list101 = ["ani","blur","fox","medox","snake"]
print("".join(list101)[2:9])

iblurfo

In [61]:
#C. Check if the string is alphanumeric or not.
   #Example 2: isalnum() in if...else Statement

password = "ano123awer"

if password.isalnum():
  print("Password is alphanumeric.")
else:
  print("Password is not alphanumeric.")

Password is alphanumeric.